{% extends 'pages/base_page.html' %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <main>
        <h2>{{ regions.main.title }}</h2>
        {% for section in regions.main.sections %}
            {{ section.html }}
        {% endfor %}
    </main>
    <aside>
        <h2>{{ regions.sidebar.title }}</h2>
        {% for section in regions.sidebar.sections %}
            {{ section.html }}
        {% endfor %}
    </aside>
    <footer id="footer">
        <h2>{{ regions.footer.title }}</h2>
         {% for section in regions.footer.sections %}
            {{ section.html }}
        {% endfor %}
    </footer>
{% endblock %}