{% extends "admin/change_form.html" %}
{% load i18n %}

{% block content_title %}
    {% if page_type_name %}
        <h1>{% translate "Add" %} {{ page_type_name }}</h1>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if page_types %}
        <h2>{% translate "Choose page type" %}</h2>
        <ul>
            {% for id, name in page_types %}
                <li>
                    <a href="?page_type_id={{ id }}" class="addlink" role="button">
                        {% translate "Add" %} {{ name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
